button {
  font-size: calc(10px + 2vmin);
}

input[type=text] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px auto;
  margin-right: auto;
  margin-left: auto;
  display: inline-block;
  border: 5px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.center {
  margin: auto;
  width: 40%;
  padding: 10px;
}

.centered{
 margin: auto;
 text-align: center;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
  margin-left:auto;
  margin-right:auto;
}

td, th {
  border: 1px solid #dddddd;
  padding: 8px;

}

tr:nth-child(even) {
  background-color: #dddddd;
}